*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{

    font-family: Arial, sans-serif;
}


.container{
    width:100%;
    text-align:center;
}

h1{
    color:rgb(2, 54, 31);
    font-size:60px;
    text-shadow:2px 2px 8px rgba(0,0,0,0.7);
}

p{
    color:rgb(1, 8, 0);
    margin-bottom:30px;
}

.menu{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.btn{
    background:white;
    color:#00695c;
    text-decoration:none;
    padding:18px;
    border-radius:15px;
    font-weight:bold;
    font-size:18px;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-5px);
    background:#ffd54f;
}

.btn:hover{
    transform:translateY(-5px);
    background:#ffd54f;
}

@media(max-width:600px){

.menu{
    grid-template-columns:1fr;
}

h1{
    font-size:35px;
}

}

.wisata-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:30px;
}

.wisata-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}

.wisata-card{
    width:300px;
    padding:15px;
    background:white;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s;
}

.wisata-card:hover{
    transform:translateY(-10px);
}

.home-page{
    min-height:100vh;

    background:url('../images/pulau-satonda.jpg');
    background-size:cover;
    background-position:center;
}
  
.kontak-btn{
    grid-column:1 / 3;
    justify-self:center;
    width:50%;
}

.logo-title{
    display:flex;
    flex-direction:column;
    align-items:center;
}


.header-box{
    background:#085306;
}

.logo{
    width:500px;
    height:300px;
    object-fit:contain;
    margin-bottom:0px;
}

.header-box h1{
    color:white;
    font-size:60px;
    margin-bottom:10px;
}

.header-box p{
    color:white;
}
.menu{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;

    width:80%;
    margin:40px auto;
    
}

.kembali{
    text-align:center;
    margin:30px 0;
}

.kembali a{
    display:inline-block;
    background:#00695c;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:12px;
    font-weight:bold;
    transition:0.3s;
}

.kembali a:hover{
    background:#ffd54f;
    color:#000;
    transform:scale(1.05);
}

footer{
    background:#035412;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:50px;
}

/* ===== GALERI ===== */

.galeri-container{
    width:90%;
    margin:30px auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.galeri-item{
    background:rgb(255, 255, 255);
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.galeri-item:hover{
    transform:scale(1.05);
}

.galeri-item img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.galeri-item h3{
    padding:15px;
    text-align:center;
    color:#00695c;
}

/* =====================
   HALAMAN PETA
===================== */

.peta-container{
    width:90%;
    margin:30px auto;

    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.peta-img{
    width:600px;
    max-width:100%;

    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

.lokasi-box{
    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 15px rgba(0,0,0,0.2);

    min-width:300px;
}

.lokasi-box h2{
    color:#00695c;
    margin-bottom:15px;
}

.lokasi-box ul{
    list-style:none;
}

.lokasi-box li{
    margin-bottom:12px;
    font-size:18px;
}

.lokasi-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
    padding:10px;
    border-bottom:1px solid #ddd;
}

.map-btn{
    background:#00695c;
    color:white;
    text-decoration:none;
    padding:8px 15px;
    border-radius:8px;
}

.map-btn:hover{
    background:#004d40;
}

/* HALAMAN TENTANG */

.tentang-page{
    min-height:100vh;
    background:url('../images/pantai-lakey.jpg');
    background-size:cover;
    background-position:center;
    padding:40px;
}

.tentang-container{
    max-width:900px;
    margin:auto;
    background:rgba(5, 72, 4, 0.9);
    padding:40px;
    border-radius:20px;
    text-align:center;
}

.tentang-container h1{
    color:#006669;
    margin-bottom:20px;
}

.tentang-container p{
    color:#e1dddd;
    line-height:1.8;
    margin-bottom:20px;
    text-align:justify;
}

.tentang-logo{
    width:350px;
    margin-bottom:20px;
}

.slogan{
    margin-top:30px;
    padding:15px;
    background:#00695c;
    color:white;
    font-size:20px;
    font-weight:bold;
    border-radius:10px;
}

/* =========================
   HALAMAN KONTAK
========================= */

.kontak-page{
    min-height:100vh;

    background:url('../images/pantai-lakey.jpg');
    background-size:cover;
    background-position:center;

    padding:40px;
}

.kontak-container{
    max-width:800px;
    margin:auto;

    background:rgba(3, 78, 10, 0.95);

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 4px 20px rgba(194, 187, 187, 0.2);
}

.kontak-logo{
    width:350px;
    margin-bottom:15px;
}

.kontak-container h1{
    color:#059e8c;
    margin-bottom:20px;
}

.kontak-container p{
    color:#d1cfcf;
    margin-bottom:15px;
}

.info-kontak{
    margin:25px 0;
}

.info-kontak h3{
    color:#0ac1ac;
    margin-top:15px;
}

.form-kontak{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-kontak input,
.form-kontak textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

.form-kontak button{
    background:#00695c;
    color:white;

    border:none;

    padding:12px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;
}

.form-kontak button:hover{
    background:#004d40;
}

.kontak-form{
    width:100%;
    max-width:600px;
    margin:30px auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.kontak-form input,
.kontak-form textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:18px;
}

.kontak-form textarea{
    height:180px;
    resize:none;
}

.kontak-form button{
    background:#00695c;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    font-size:20px;
    cursor:pointer;
}

.kontak-form button:hover{
    background:#004d40;
}
